@import "../valo/valo.scss";

@mixin inno {
  @include valo;
  .v-horizontal .v-button {
    margin-top: 25px;
  }
  .v-table .v-table-cell-content-red {
    background-color: #ff6230;
  }
  .v-table .v-table-cell-content-normal {
    background-color: #b8b8b8;
  }
}

@include inno;